.header {
    min-height: 70vh;
    background-image: url(https://picsum.photos/seed/picsum/3800/2160);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1200px) {

    .img4{
        width:500px;
        height: 200px;
    }


    .img6{
        width:500px;
        height: 200px;
    }
}
@media screen and (max-width: 992px) {

    .img4{
        width:400px;
        height: 200px;
    }
    
    .img5{
        width:300px;
        height: 200px;
    }
}